# General
.DS_Store
Thumbs.db
.idea/
.vscode/

# Python / Backend
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.pytest_cache/

# Node / Frontend
node_modules/
dist/
.angular/

# Docker
docker-compose.override.yml

# Database behaviors
*.sqlite3
*.db
